<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet/dsa.css">
    <title>Document</title>
</head>

<body>
    <!-- Html for navbar starts here-->
    <header class="header-area">
        <!-- site-navbar start -->
        <div class="navbar-area">
            <div class="container">
                <nav class="site-navbar">
                    <!-- site logo -->
                    <a href="/" class="site-logo">logo</a>

                    <!-- site menu/nav -->
                    <ul>
                        <li><a href="/home">home</a></li>
                        <li><a href="/courses">Tracks</a></li>
                        <li><a href="/discussion">Discussion</a></li>
                        <li><a href="/compile">Compile</a></li>
                    </ul>

                    <!-- nav-toggler for mobile version only -->
                    <button class="nav-toggler">
                        <span></span>
                    </button>
                </nav>
            </div>
        </div><!-- navbar-area end -->


    </header>
    <!-- Html for navbar ends here-->
    <!-- Html for modules starts here -->
    <h1 style="color:white;text-align:center;padding-top:5rem;">Data Structures and Algorithms</h1>
    <div class="modules">
        <div class="box">
            <div class="content">
                <h2>01</h2>
                <h3>Module One</h3>
                <p>Design UX / UI , our employers had a great experince with design UX/UI.</p>
                <a href="#">Read More</a>
            </div>
        </div>
        <div class="box">
            <div class="content">
                <h2>02</h2>
                <h3>Module Two</h3>
                <p>Web Development , our employers had a great experince with Web Development.</p>
                <a href="#">Read More</a>
            </div>
        </div>
        <div class="box">
            <div class="content">
                <h2>03</h2>
                <h3>Module Three</h3>
                <p>Software Enginner , our employers had a great experince with Software Enginnering. We can build a
                    modern Software to our clients .</p>
                <a href="#">Read More</a>
            </div>
        </div>
        <div class="box">
            <div class="content">
                <h2>04</h2>
                <h3>Module Four</h3>
                <p>Software Enginner , our employers had a great experince with Software Enginnering. We can build a
                    modern Software to our clients .</p>
                <a href="#">Read More</a>
            </div>
        </div>
        <div class="box">
            <div class="content">
                <h2>05</h2>
                <h3>Module Five</h3>
                <p>Software Enginner , our employers had a great experince with Software Enginnering. We can build a
                    modern Software to our clients .</p>
                <a href="#">Read More</a>
            </div>
        </div>
        <div class="box">
            <div class="content">
                <h2>06</h2>
                <h3>Module Six</h3>
                <p>Software Enginner , our employers had a great experince with Software Enginnering. We can build a
                    modern Software to our clients .</p>
                <a href="#">Read More</a>
            </div>
        </div>
        <div class="box">
            <div class="content">
                <h2>07</h2>
                <h3>Module Seven</h3>
                <p>Software Enginner , our employers had a great experince with Software Enginnering. We can build a
                    modern Software to our clients .</p>
                <a href="#">Read More</a>
            </div>
        </div>
        <div class="box">
            <div class="content">
                <h2>08</h2>
                <h3>Module Eight</h3>
                <p>Software Enginner , our employers had a great experince with Software Enginnering. We can build a
                    modern Software to our clients .</p>
                <a href="#">Read More</a>
            </div>
        </div>
        <div class="box">
            <div class="content">
                <h2>09</h2>
                <h3>Module Nine</h3>
                <p>Software Enginner , our employers had a great experince with Software Enginnering. We can build a
                    modern Software to our clients .</p>
                <a href="#">Read More</a>
            </div>
        </div>
        <div class="box">
            <div class="content">
                <h2>10</h2>
                <h3>Module Ten</h3>
                <p>Software Enginner , our employers had a great experince with Software Enginnering. We can build a
                    modern Software to our clients .</p>
                <a href="#">Read More</a>
            </div>
        </div>

    </div>
    <!-- Html for modules ends here -->

    <script src="/javacript/"></script>

</body>

</html>