<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>side navigation bar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheet\task.css">
</head>

<body>

    <div class="Wrapper" ng-app="myApp">
        <div class="Sidebar" ng-class="boolie ? 'is-collapsed' : ''">
            <header class="Sidebar-header">
                <div class="Sidebar-logo"><svg xmlns="http://www.w3.org/2000/svg" width="60" height="60"
                        viewBox="0 0 20 20">
                        <path fill="white"
                            d="M10 9.25c-2.27 0-2.73-3.44-2.73-3.44C7 4.02 7.82 2 9.97 2c2.16 0 2.98 2.02 2.71 3.81c0 0-.41 3.44-2.68 3.44zm0 2.57L12.72 10c2.39 0 4.52 2.33 4.52 4.53v2.49s-3.65 1.13-7.24 1.13c-3.65 0-7.24-1.13-7.24-1.13v-2.49c0-2.25 1.94-4.48 4.47-4.48z" />
                    </svg>
                    <p style="color: aliceblue;">User Name</p>
                </div>

            </header>
            <nav role="navigation">
                <ul>
                    <li class="Sidebar-navItem">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="Sidebar-menuIcon bi bi-1-square-fill" viewBox="0 0 16 16">
                            <path
                                d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Zm7.283 4.002V12H7.971V5.338h-.065L6.072 6.656V5.385l1.899-1.383h1.312Z" />
                        </svg>
                        <a href="">Task 1</a>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="Sidebar-menuIcon bi bi-check-lg" viewBox="0 0 16 16">
                            <path
                                d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                        </svg>
                    </li>

                    <li class="Sidebar-navItem">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="Sidebar-menuIcon bi bi-2-square-fill" viewBox="0 0 16 16">
                            <path
                                d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Zm4.646 6.24v.07H5.375v-.064c0-1.213.879-2.402 2.637-2.402 1.582 0 2.613.949 2.613 2.215 0 1.002-.6 1.667-1.287 2.43l-.096.107-1.974 2.22v.077h3.498V12H5.422v-.832l2.97-3.293c.434-.475.903-1.008.903-1.705 0-.744-.557-1.236-1.313-1.236-.843 0-1.336.615-1.336 1.306Z" />
                        </svg>
                        <a href="">Task 2</a>
                    </li>
                    <li class="Sidebar-navItem">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="Sidebar-menuIcon bi bi-3-square-fill" viewBox="0 0 16 16">
                            <path
                                d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Zm5.918 8.414h-.879V7.342h.838c.78 0 1.348-.522 1.342-1.237 0-.709-.563-1.195-1.348-1.195-.79 0-1.312.498-1.348 1.055H5.275c.036-1.137.95-2.115 2.625-2.121 1.594-.012 2.608.885 2.637 2.062.023 1.137-.885 1.776-1.482 1.875v.07c.703.07 1.71.64 1.734 1.917.024 1.459-1.277 2.396-2.93 2.396-1.705 0-2.707-.967-2.754-2.144H6.33c.059.597.68 1.06 1.541 1.066.973.006 1.6-.563 1.588-1.354-.006-.779-.621-1.318-1.541-1.318Z" />
                        </svg>
                        <a href="">Task 3</a>
                    </li>
                    <li class="Sidebar-navItem">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="Sidebar-menuIcon bi bi-4-square-fill" viewBox="0 0 16 16">
                            <path d="M6.225 9.281v.053H8.85V5.063h-.065c-.867 1.33-1.787 2.806-2.56 4.218Z" />
                            <path
                                d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Zm5.519 5.057c.22-.352.439-.703.657-1.055h1.933v5.332h1.008v1.107H10.11V12H8.85v-1.559H4.978V9.322c.77-1.427 1.656-2.847 2.542-4.265Z" />
                        </svg>
                        <a href="">Task 4</a>
                    </li>
                    <li class="Sidebar-navItem">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="Sidebar-menuIcon bi bi-5-square-fill" viewBox="0 0 16 16">
                            <path
                                d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Zm5.994 12.158c-1.57 0-2.654-.902-2.719-2.115h1.237c.14.72.832 1.031 1.529 1.031.791 0 1.57-.597 1.57-1.681 0-.967-.732-1.57-1.582-1.57-.767 0-1.242.45-1.435.808H5.445L5.791 4h4.705v1.103H6.875l-.193 2.343h.064c.17-.258.715-.68 1.611-.68 1.383 0 2.561.944 2.561 2.585 0 1.687-1.184 2.806-2.924 2.806Z" />
                        </svg>
                        <a href="">Task 5</a>
                    </li>
                    <li class="Sidebar-navItem">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="Sidebar-menuIcon bi bi-6-square-fill" viewBox="0 0 16 16">
                            <path
                                d="M8.111 7.863c-.92 0-1.564.65-1.564 1.576 0 1.032.703 1.635 1.558 1.635.868 0 1.553-.533 1.553-1.629 0-1.06-.744-1.582-1.547-1.582Z" />
                            <path
                                d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Zm6.21 3.855c1.612 0 2.515.99 2.573 1.899H9.494c-.1-.358-.51-.815-1.312-.815-1.078 0-1.817 1.09-1.805 3.036h.082c.229-.545.855-1.155 1.98-1.155 1.254 0 2.508.88 2.508 2.555 0 1.77-1.218 2.783-2.847 2.783-.932 0-1.84-.328-2.409-1.254-.369-.603-.597-1.459-.597-2.642 0-3.012 1.248-4.407 3.117-4.407Z" />
                        </svg>
                        <a href="">Task 6</a>
                    </li>
                    <li class="Sidebar-navItem">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="Sidebar-menuIcon bi bi-7-square-fill" viewBox="0 0 16 16">
                            <path
                                d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Zm3.37 5.11V4.001h5.308V5.15L7.42 12H6.025l3.317-6.82v-.07H5.369Z" />
                        </svg>
                        <a href="">Task 7</a>
                    </li>
                    <li class="Sidebar-navItem">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="Sidebar-menuIcon bi bi-8-square-fill" viewBox="0 0 16 16">
                            <path
                                d="M6.623 6.094c0 .738.586 1.254 1.383 1.254s1.377-.516 1.377-1.254c0-.733-.58-1.23-1.377-1.23s-1.383.497-1.383 1.23Zm-.281 3.644c0 .838.72 1.412 1.664 1.412.943 0 1.658-.574 1.658-1.412 0-.843-.715-1.424-1.658-1.424-.944 0-1.664.58-1.664 1.424Z" />
                            <path
                                d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Zm8.97 9.803c0 1.394-1.218 2.355-2.988 2.355-1.763 0-2.953-.955-2.953-2.344 0-1.271.95-1.851 1.647-2.003v-.065c-.621-.193-1.33-.738-1.33-1.781 0-1.225 1.09-2.121 2.66-2.121s2.654.896 2.654 2.12c0 1.061-.738 1.595-1.336 1.782v.065c.703.152 1.647.744 1.647 1.992Z" />
                        </svg>
                        <a href="">Task 8</a>
                    </li>
                    <li class="Sidebar-navItem">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="Sidebar-menuIcon bi bi-patch-question-fill" viewBox="0 0 16 16">
                            <path
                                d="M5.933.87a2.89 2.89 0 0 1 4.134 0l.622.638.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636zM7.002 11a1 1 0 1 0 2 0 1 1 0 0 0-2 0zm1.602-2.027c.04-.534.198-.815.846-1.26.674-.475 1.05-1.09 1.05-1.986 0-1.325-.92-2.227-2.262-2.227-1.02 0-1.792.492-2.1 1.29A1.71 1.71 0 0 0 6 5.48c0 .393.203.64.545.64.272 0 .455-.147.564-.51.158-.592.525-.915 1.074-.915.61 0 1.03.446 1.03 1.084 0 .563-.208.885-.822 1.325-.619.433-.926.914-.926 1.64v.111c0 .428.208.745.585.745.336 0 .504-.24.554-.627z" />
                        </svg>
                        <a href="">Assignment</a>
                    </li>
                    <li class="Sidebar-navItem">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="Sidebar-menuIcon bi bi-box-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z" />
                            <path fill-rule="evenodd"
                                d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
                        </svg>
                        <a href="#">Log out</a>
                    </li>
                </ul>
            </nav>
            <!-- <footer class="Sidebar-footer" ng-click="boolie = !boolie">
                <i class="Sidebar-toggleArrow Sidebar-menuIcon fa fa-arrow-left" ng-class="boolie ? 'rotate' : ''"></i>
                <span class="Sidebar-toggleText" style="color:white; padding-left:4rem" id="minimize">Minimize menu</span>
            </footer> -->
        </div>
        <div class="Main">
              <h1 style="text-align:center;"> Programming Basics Module 2</h1>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro quia, repellendus necessitatibus vitae
            provident possimus deserunt aperiam ex voluptatibus laborum neque consequuntur quis eos in doloribus fugiat
            voluptates, beatae tempore at delectus eligendi doloremque molestiae perspiciatis ullam? Ratione officia a
            dolor deleniti molestias suscipit aliquam eos quisquam dignissimos, natus vel sapiente facilis corrupti. Ea
            minus id eaque quidem. Praesentium sit, ea dicta molestiae rerum voluptatibus repellendus deleniti fugit
            iusto non dignissimos itaque esse eius nobis unde, recusandae eligendi voluptate temporibus error quidem
            sunt voluptates magnam. Modi facere ea explicabo expedita repudiandae ipsa sequi fugit reiciendis quidem
            quas accusamus ab quam, neque, rerum porro obcaecati aut illo natus odit atque voluptatum incidunt et
            aliquid itaque? Recusandae laborum laboriosam quidem saepe, voluptates earum atque fuga distinctio rem a
            harum veritatis architecto placeat libero provident ipsam magnam officiis, ratione ipsa. Ex error sapiente
            velit atque, debitis id non dolorem. Quaerat, blanditiis eligendi. Excepturi incidunt quaerat aliquam ab
            exercitationem nostrum ullam quos doloremque voluptas, quisquam omnis et culpa assumenda obcaecati! Laborum
            iusto, autem corporis doloribus nam, laboriosam, voluptates sunt officiis quae explicabo aspernatur vero!
            Labore distinctio soluta voluptates autem nihil, sint sapiente quod magnam quas, quidem magni voluptate
            nostrum laborum veniam exercitationem error odit, minima ea fugiat aliquam repellat facere laboriosam rem.
            Blanditiis, alias iste culpa earum quae nostrum amet possimus illo aliquam quasi nam quibusdam modi vero
            assumenda deleniti quis doloribus quas, cum corrupti reiciendis quaerat excepturi. Delectus rerum ducimus
            fuga ipsa neque exercitationem odit alias perspiciatis inventore excepturi eos accusantium, soluta, in sit
            quo iusto nesciunt expedita. Placeat quia incidunt, iste eveniet soluta qui odio voluptatum at architecto
            eius fugit aliquam reiciendis? Distinctio eum quia eligendi earum, officiis quaerat iusto ad maxime quo,
            modi nam deserunt. Reiciendis odit magnam ad natus impedit sit quaerat vitae possimus maiores laudantium
            nostrum ipsum, ipsa officiis rem? Odit neque alias quam odio hic pariatur harum dolorem. Expedita harum sunt
            animi magni? Deserunt, reprehenderit nesciunt eveniet illum, vel maiores, voluptates officia eligendi illo
            sunt soluta similique culpa ducimus? Provident illum quo repellendus repudiandae fugit atque obcaecati
            delectus iure! Culpa nulla maxime distinctio fugiat labore qui nihil, odio dignissimos dolorem
            necessitatibus nostrum at sed ratione sapiente reprehenderit soluta sint. Id laborum eveniet deleniti, nemo
            ea harum unde corporis ut aut dolores iste praesentium, itaque quisquam? Adipisci quae animi hic nostrum. Et
            exercitationem aliquid sint reiciendis culpa iste porro odio, accusamus rerum minima voluptatibus molestiae,
            quaerat delectus autem ipsum. Voluptate sit eos temporibus eius neque. Veniam nisi ab sunt corporis quaerat
            inventore vel, cum saepe blanditiis animi, iure pariatur consequuntur doloribus cupiditate excepturi illo
            itaque dolores sapiente? Pariatur illo, quas praesentium voluptatum ea dolore, soluta voluptate est quia
            autem, deserunt eveniet? Cupiditate id, unde sit doloribus error maxime accusantium explicabo est delectus
            saepe natus dolorem deserunt esse dolor possimus reiciendis magni, laudantium totam minus quasi. Ut tenetur
            nostrum sunt, unde, aliquid asperiores debitis dolores nulla voluptates necessitatibus rem ad nesciunt
            doloribus, officia cum? Excepturi voluptatum adipisci ea temporibus unde sapiente molestiae, explicabo rem
            eligendi, aperiam maiores id at minima?
        </div>
    </div>
</body>

</html>