<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>side navigation bar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheet\task.css">
</head>

<body>

    <div class="Wrapper" ng-app="myApp">
        {{!-- Html For sidebar --}}
        <div class="Sidebar" ng-class="boolie ? 'is-collapsed' : ''">
            <header class="Sidebar-header">
                <div class="Sidebar-logo"><svg xmlns="http://www.w3.org/2000/svg" width="60" height="60"
                        viewBox="0 0 20 20">
                        <path fill="white"
                            d="M10 9.25c-2.27 0-2.73-3.44-2.73-3.44C7 4.02 7.82 2 9.97 2c2.16 0 2.98 2.02 2.71 3.81c0 0-.41 3.44-2.68 3.44zm0 2.57L12.72 10c2.39 0 4.52 2.33 4.52 4.53v2.49s-3.65 1.13-7.24 1.13c-3.65 0-7.24-1.13-7.24-1.13v-2.49c0-2.25 1.94-4.48 4.47-4.48z" />
                    </svg>
                    <p id="user" style="color: aliceblue;">Guest</p>
                </div>

            </header>
            <nav role="navigation">
                <ul id="items">
                    <li class="Sidebar-navItem">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="Sidebar-menuIcon bi bi-1-square-fill" viewBox="0 0 16 16">
                            <path
                                d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Zm7.283 4.002V12H7.971V5.338h-.065L6.072 6.656V5.385l1.899-1.383h1.312Z" />
                        </svg>
                        <span>Task 1</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="Sidebar-menuIcon bi bi-check-lg" viewBox="0 0 16 16">
                            <path
                                d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                        </svg>
                    </li>

                    <li class="Sidebar-navItem">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="Sidebar-menuIcon bi bi-2-square-fill" viewBox="0 0 16 16">
                            <path
                                d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Zm4.646 6.24v.07H5.375v-.064c0-1.213.879-2.402 2.637-2.402 1.582 0 2.613.949 2.613 2.215 0 1.002-.6 1.667-1.287 2.43l-.096.107-1.974 2.22v.077h3.498V12H5.422v-.832l2.97-3.293c.434-.475.903-1.008.903-1.705 0-.744-.557-1.236-1.313-1.236-.843 0-1.336.615-1.336 1.306Z" />
                        </svg>
                        <span>Task 2</span>
                    </li>
                    <li class="Sidebar-navItem">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="Sidebar-menuIcon bi bi-3-square-fill" viewBox="0 0 16 16">
                            <path
                                d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Zm5.918 8.414h-.879V7.342h.838c.78 0 1.348-.522 1.342-1.237 0-.709-.563-1.195-1.348-1.195-.79 0-1.312.498-1.348 1.055H5.275c.036-1.137.95-2.115 2.625-2.121 1.594-.012 2.608.885 2.637 2.062.023 1.137-.885 1.776-1.482 1.875v.07c.703.07 1.71.64 1.734 1.917.024 1.459-1.277 2.396-2.93 2.396-1.705 0-2.707-.967-2.754-2.144H6.33c.059.597.68 1.06 1.541 1.066.973.006 1.6-.563 1.588-1.354-.006-.779-.621-1.318-1.541-1.318Z" />
                        </svg>
                        <span>Task 3</span>
                    </li>
                    <li class="Sidebar-navItem">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="Sidebar-menuIcon bi bi-4-square-fill" viewBox="0 0 16 16">
                            <path d="M6.225 9.281v.053H8.85V5.063h-.065c-.867 1.33-1.787 2.806-2.56 4.218Z" />
                            <path
                                d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Zm5.519 5.057c.22-.352.439-.703.657-1.055h1.933v5.332h1.008v1.107H10.11V12H8.85v-1.559H4.978V9.322c.77-1.427 1.656-2.847 2.542-4.265Z" />
                        </svg>
                        <span>Task 4</span>
                    </li>
                    <li class="Sidebar-navItem">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="Sidebar-menuIcon bi bi-5-square-fill" viewBox="0 0 16 16">
                            <path
                                d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Zm5.994 12.158c-1.57 0-2.654-.902-2.719-2.115h1.237c.14.72.832 1.031 1.529 1.031.791 0 1.57-.597 1.57-1.681 0-.967-.732-1.57-1.582-1.57-.767 0-1.242.45-1.435.808H5.445L5.791 4h4.705v1.103H6.875l-.193 2.343h.064c.17-.258.715-.68 1.611-.68 1.383 0 2.561.944 2.561 2.585 0 1.687-1.184 2.806-2.924 2.806Z" />
                        </svg>
                        <span>Task 5</span>
                    </li>
                    <li class="Sidebar-navItem">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="Sidebar-menuIcon bi bi-6-square-fill" viewBox="0 0 16 16">
                            <path
                                d="M8.111 7.863c-.92 0-1.564.65-1.564 1.576 0 1.032.703 1.635 1.558 1.635.868 0 1.553-.533 1.553-1.629 0-1.06-.744-1.582-1.547-1.582Z" />
                            <path
                                d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Zm6.21 3.855c1.612 0 2.515.99 2.573 1.899H9.494c-.1-.358-.51-.815-1.312-.815-1.078 0-1.817 1.09-1.805 3.036h.082c.229-.545.855-1.155 1.98-1.155 1.254 0 2.508.88 2.508 2.555 0 1.77-1.218 2.783-2.847 2.783-.932 0-1.84-.328-2.409-1.254-.369-.603-.597-1.459-.597-2.642 0-3.012 1.248-4.407 3.117-4.407Z" />
                        </svg>
                        <span>Task 6</span>
                    </li>
                    <li class="Sidebar-navItem">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="Sidebar-menuIcon bi bi-7-square-fill" viewBox="0 0 16 16">
                            <path
                                d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Zm3.37 5.11V4.001h5.308V5.15L7.42 12H6.025l3.317-6.82v-.07H5.369Z" />
                        </svg>
                        <span>Task 7</span>
                    </li>
                    <li class="Sidebar-navItem">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="Sidebar-menuIcon bi bi-8-square-fill" viewBox="0 0 16 16">
                            <path
                                d="M6.623 6.094c0 .738.586 1.254 1.383 1.254s1.377-.516 1.377-1.254c0-.733-.58-1.23-1.377-1.23s-1.383.497-1.383 1.23Zm-.281 3.644c0 .838.72 1.412 1.664 1.412.943 0 1.658-.574 1.658-1.412 0-.843-.715-1.424-1.658-1.424-.944 0-1.664.58-1.664 1.424Z" />
                            <path
                                d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Zm8.97 9.803c0 1.394-1.218 2.355-2.988 2.355-1.763 0-2.953-.955-2.953-2.344 0-1.271.95-1.851 1.647-2.003v-.065c-.621-.193-1.33-.738-1.33-1.781 0-1.225 1.09-2.121 2.66-2.121s2.654.896 2.654 2.12c0 1.061-.738 1.595-1.336 1.782v.065c.703.152 1.647.744 1.647 1.992Z" />
                        </svg>
                        <span>Task 8</span>
                    </li>
                    <li class="Sidebar-navItem">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="Sidebar-menuIcon bi bi-patch-question-fill" viewBox="0 0 16 16">
                            <path
                                d="M5.933.87a2.89 2.89 0 0 1 4.134 0l.622.638.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636zM7.002 11a1 1 0 1 0 2 0 1 1 0 0 0-2 0zm1.602-2.027c.04-.534.198-.815.846-1.26.674-.475 1.05-1.09 1.05-1.986 0-1.325-.92-2.227-2.262-2.227-1.02 0-1.792.492-2.1 1.29A1.71 1.71 0 0 0 6 5.48c0 .393.203.64.545.64.272 0 .455-.147.564-.51.158-.592.525-.915 1.074-.915.61 0 1.03.446 1.03 1.084 0 .563-.208.885-.822 1.325-.619.433-.926.914-.926 1.64v.111c0 .428.208.745.585.745.336 0 .504-.24.554-.627z" />
                        </svg>
                        <span>Assignment</span>
                    </li>
                    <li class="Sidebar-navItem" id="l1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="Sidebar-menuIcon bi bi-patch-question-fill" viewBox="0 0 16 16">
                            <path
                                d="M5.933.87a2.89 2.89 0 0 1 4.134 0l.622.638.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636zM7.002 11a1 1 0 1 0 2 0 1 1 0 0 0-2 0zm1.602-2.027c.04-.534.198-.815.846-1.26.674-.475 1.05-1.09 1.05-1.986 0-1.325-.92-2.227-2.262-2.227-1.02 0-1.792.492-2.1 1.29A1.71 1.71 0 0 0 6 5.48c0 .393.203.64.545.64.272 0 .455-.147.564-.51.158-.592.525-.915 1.074-.915.61 0 1.03.446 1.03 1.084 0 .563-.208.885-.822 1.325-.619.433-.926.914-.926 1.64v.111c0 .428.208.745.585.745.336 0 .504-.24.554-.627z" />
                        </svg>
                        <span id="login_btn" style="color:white">Login</span>
                    </li>
                    <li class="Sidebar-navItem" id="l2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="Sidebar-menuIcon bi bi-patch-question-fill" viewBox="0 0 16 16">
                            <path
                                d="M5.933.87a2.89 2.89 0 0 1 4.134 0l.622.638.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636zM7.002 11a1 1 0 1 0 2 0 1 1 0 0 0-2 0zm1.602-2.027c.04-.534.198-.815.846-1.26.674-.475 1.05-1.09 1.05-1.986 0-1.325-.92-2.227-2.262-2.227-1.02 0-1.792.492-2.1 1.29A1.71 1.71 0 0 0 6 5.48c0 .393.203.64.545.64.272 0 .455-.147.564-.51.158-.592.525-.915 1.074-.915.61 0 1.03.446 1.03 1.084 0 .563-.208.885-.822 1.325-.619.433-.926.914-.926 1.64v.111c0 .428.208.745.585.745.336 0 .504-.24.554-.627z" />
                        </svg>
                        <span id="signup_btn" style="color:white">SignUp</span>
                    </li>
                    <li class="Sidebar-navItem" id="l3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="Sidebar-menuIcon bi bi-patch-question-fill" viewBox="0 0 16 16">
                            <path
                                d="M5.933.87a2.89 2.89 0 0 1 4.134 0l.622.638.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636zM7.002 11a1 1 0 1 0 2 0 1 1 0 0 0-2 0zm1.602-2.027c.04-.534.198-.815.846-1.26.674-.475 1.05-1.09 1.05-1.986 0-1.325-.92-2.227-2.262-2.227-1.02 0-1.792.492-2.1 1.29A1.71 1.71 0 0 0 6 5.48c0 .393.203.64.545.64.272 0 .455-.147.564-.51.158-.592.525-.915 1.074-.915.61 0 1.03.446 1.03 1.084 0 .563-.208.885-.822 1.325-.619.433-.926.914-.926 1.64v.111c0 .428.208.745.585.745.336 0 .504-.24.554-.627z" />
                        </svg>
                        <span id="signup_btn" style="color:white">Logout</span>
                    </li>
                </ul>
            </nav>
            <!-- <footer class="Sidebar-footer" ng-click="boolie = !boolie">
                <i class="Sidebar-toggleArrow Sidebar-menuIcon fa fa-arrow-left" ng-class="boolie ? 'rotate' : ''"></i>
                <span class="Sidebar-toggleText" style="color:white; padding-left:4rem" id="minimize">Minimize menu</span>
            </footer> -->
        </div>
        {{!-- Html for main content --}}
        <div class="Main">
            <div id="id01" class="modal">

                <div class="modal-content animate">
                    <div class="imgcontainer">
                        <span onclick="document.getElementById('id01').style.display='none'" class="close"
                            title="Close Modal">&times;</span>
                        <p style="color:white;font-size:40px"> Login </p>
                    </div>

                    <div class="container">
                        <label><b>Email</b></label>
                        <input type="text" placeholder="Your Mail Here" id="login_email_id" required>
                        <p class="form_error" id="login_email_error"></p>
                        <label><b>Password</b></label>
                        <input type="password" placeholder="Your Password Here" id="login_password" required>
                        <p class="form_error" id="login_pass_error"></p>
                        <p style="text-decoration: underline; margin-top:10px">Forgot Password?</p>
                        <button class="first" id="login">Login</button>
                        <p class="form_error" id="login_credentials_error"></p>
                        {{!-- <input type="checkbox" checked="checked"> Remember me --}}
                    </div>

                    <div class="container">
                        <p>Not a Member? <span id="btn_signup" style="text-decoration: underline ; cursor:pointer">Sign
                                Up</span></p>
                    </div>
                </div>
            </div>
            <div id="id02" class="modal">

                <div class="modal-content animate">
                    <div class="imgcontainer">
                        <span onclick="document.getElementById('id02').style.display='none'" class="close"
                            title="Close Modal">&times;</span>
                        <p style="color:white;font-size:40px"> Signup </p>
                        {{!-- <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" class="avatar">
                        --}}
                    </div>

                    <div class="container" id="otp_id">
                        <label><b></b>Name</b></label>
                        <input type="text" placeholder="Your Name Here" id="signup_name" required>
                        <p class="form_error" id="signup_name_error"></p>
                        <label><b>Email</b></label>
                        <input type="email" placeholder="Your Email Here" id="signup_email" required>
                        <p class="form_error" id="signup_email_error"></p>
                        <label><b>Password</b></label>
                        <input type="password" placeholder="Your PassWord Here" id="signup_pass" required>
                        <p class="form_error" id="signup_pass_error"></p>
                        <button class="first" id="signup">Submit</button>
                        <p class="form_error" id="signup_credentials_error"></p>
                        {{!-- <input type="checkbox" checked="checked"> Remember me --}}
                    </div>

                    <div class="container">
                        <p>Already a User? <span id="btn_login"
                                style="text-decoration: underline ; cursor:pointer">Login</span></p>
                    </div>
                </div>
            </div>
            <div id="id03" class="modal">

                <div class="modal-content animate">
                    <div class="imgcontainer">
                        <span onclick="document.getElementById('id01').style.display='none'" class="close"
                            title="Close Modal">&times;</span>
                        <p style="color:white;font-size:40px"> Verify </p>
                    </div>

                    <div class="container">
                        <p style="font-style:italic;">An Email has been sent to your email,Please Check your Inbox</p>
                        <p style="font-style:italic;">OTP Will remain valid for two minutes only</p>
                        <input type="text" placeholder="Your OTP Here" id="otp" required>
                        <p class="form_error" id="otp_valid_error"></p>
                        <span style="text-decoration:underline" id="resend">Resend OTP</span>
                        <button class="first" id="verify_otp">Verify OTP</button>
                    </div>
                </div>
            </div>
            <div id="id04" class="modal">

                <div class="modal-content animate">
                    <div class="imgcontainer">
                        <span onclick="document.getElementById('id02').style.display='none'" class="close"
                            title="Close Modal">&times;</span>
                        <p style="color:white;font-size:40px"> Are You Sure You Want to logout? </p>
                    </div>

                    <div class="container">
                        <button class="first" id="l4"> Yes</button>
                        <button class="first" id="l5">No</button>
                        {{!-- <input type="checkbox" checked="checked"> Remember me --}}
                    </div>
                </div>
            </div>
        </div>
        <script src="javacript\programming_modules\module1.js"></script>
</body>

</html>