*{
  box-sizing: border-box;
  background-color: black;
}

.heading{
  text-align: center;
  color: white;
}

.columns{
  float: left;
  width: 50%;
  padding: 12px;
  min-height: 300px;
}

.rows:after{
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 768px) {
  .columns{
    width: 100%;
  }
}
